.owl-dots{
  position: absolute;
  top: -52px;
  left: 200px;
  width: calc(100% - 240px);
  @extend %flex-horizontal;

    .owl-dot {
      width: 100% !important;
      height: 2px !important;
      border-radius: 0;
      background: $gray-100 !important;
      padding: 0 !important;
    }
    .owl-dot.active {
      background: $gray-300 !important;
      outline: none;
    }
  }

