.exhibition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  &__item {
    margin: 10px 0;
    line-height: 1.2;
    a {
      display: inline-block;
      padding: 10px 20px;
      transition: 0.5s;
      color: #000;
      &:after {
        display: none;
      }
    }
    a:hover {
      background: $gray-300;
      color: #fff;

      .country {
        color: #fff;
        opacity: 0.6;
      }
    }
    .year {
      font-size: 35px;
      font-weight: bold;
    }
    .country {
      font-size: 14px;
      top: -1.6em;
      color: $gray-200;
      opacity: 0.7;
    }
  }

    &__item:first-child {

    }

}
